* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.container {
  position: relative;
  display: flex;
  padding: 80px 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.card {
  position: relative;
  width: 350px;
  height: 180px;
  background: #333;
  transition: 0.5s;
}

.card .lines {
  position: absolute;
  inset: 0;
  background-color: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 107%;
  width: 400px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  transform-origin: left;
  animation: animate 4s linear infinite;
  animation-play-state: paused;
}

.card:hover .lines::before {
  animation-play-state: running;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: #292929;
}

.card .content {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
}
